@model PerguntaCriacaoViewModel
@{
    ViewData["Title"] = "Criação de pergunta";
}

<div class="container mt-5">
    <form asp-controller="Pergunta" asp-action="Cadastrar" method="post" enctype="multipart/form-data" accept="image/png">
        <h2>Criação de pergunta</h2>
        <div class="text-center">
            <label for="arquivoDeImagem">
                <img id="imagem" style="width: 300px; height: 180px" />
            </label>
        </div>
        <div class="mb-1">
            <label class="form-label mt-3">Capa:</label>
            <input class="form-control shadow-none" type="file" id="arquivoDeImagem" name="capaDaPergunta" />
        </div>
        <div class="mb-1">
            <label class="form-label mt-3">Título:</label>
            <input class="form-control shadow-none" type="text" asp-for="Titulo" />
            <span class="text-danger" asp-validation-for="Titulo"></span>
        </div>
        <div class="mb-1">
            <label class="form-label mt-3">Descrição:</label>
            <input class="form-control shadow-none" type="text" asp-for="Descricao" />
            <span class="text-danger" asp-validation-for="Descricao"></span>
        </div>
        <div class="btn-box d-flex mt-3">
            <button class="btn btn-success w-50 mx-1" type="submit"><i class="bi bi-plus-circle"></i>Finalizar criação!!</button>
            <a class="btn btn-info w-50" role="button" asp-controller="Pergunta" asp-action="Index"><i class="bi bi-arrow-left-circle"></i>Voltar</a>
        </div>
    </form>
</div>

<script>
    const entradaDeArquivo = document.querySelector('#arquivoDeImagem')

    entradaDeArquivo.addEventListener('change', function (e) {
        const alvoDeEntrada = e.target
        const arquivo = alvoDeEntrada.files[0]

        if (arquivo) {
            const leitor = new FileReader()

            leitor.addEventListener('load', function (e) {
                const alvoDoLeitor = e.target
                const imagem = document.querySelector('#imagem')

                imagem.src = alvoDoLeitor.result
            })

            leitor.readAsDataURL(arquivo)
        }
    })
</script>