@model IEnumerable<Pergunta>
@{
    ViewData["Title"] = "Lista de pergunta";
}

<div class="text-center mb-5">
    <a class="btn btn-success" asp-controller="Pergunta" asp-action="Cadastrar">Criar pergunta</a>
</div>

<div class="row-1">
    @if (Model != null && Model.Any())
    {
        @foreach (var pergunta in Model)
        {
            <div class="card border-0 w-100 mb-3">
                <a class="text-body text-hover-dark text-decoration-none" asp-action="Detalhar" asp-route-id="@pergunta.Id">
                    <div class="card flex-row border-hover-dark">
                        @if (pergunta.Capa != null)
                        {
                            <img class="card-img-left card-img-xl-left" src="/assets/@pergunta.Capa" alt="image-@(pergunta.Id)" />
                        }
                        else
                        {
                            <img class="card-img-left card-img-xl-left" src="~/assets/no-image.jpg" alt="image-default" />
                        }
                        <div class="card-body">
                            <h4 class="card-title h5 h4-sm">@pergunta.Titulo</h4>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>
