<div class="py-5">
    <div class="container">
        <div class="text-center mb-5">
            <a class="btn btn-success" asp-controller="Pergunta" asp-action="Cadastrar">Criar pergunta</a>
        </div>
    </div>
</div>