@model RespostaDaPerguntaCriacaoViewModel

<form asp-controller="Resposta" asp-action="Cadastrar" method="post">
    <input type="hidden" asp-for="PerguntaId" />
    <textarea class="form-control shadow-none" type="text" asp-for="Conteudo"></textarea>
    <span class="text-danger" asp-validation-for="Conteudo"></span>
    <button type="submit" class="btn btn-primary mt-1">Responder</button>
</form>
