@if (Context.User.Identity.Name != null)
{
    <ul class="nav navbar-nav navbar-right">
        <form asp-controller="Account" asp-action="LogOut" method="post" id="logOutForm" class="navbar-right">
            <li class="nav-link">Olá, @Context.User.Identity.Name!</li>
            <button type="submit" class="btn btn-link nav-link">| Sair</button>
        </form>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Cadastrar">Criar conta</a></li>
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Acessar conta</a></li>
    </ul>
}